[submodule "blog/blog/themes/typography"]
	path = blog/blog/themes/typography
	url = https://github.com/junleqian/hexo-theme-typography.git
[submodule "blog/themes/jane"]
	path = blog/themes/jane
	url = https://github.com/hejianxian/hexo-theme-jane.git
[submodule "blog/themes/jsimple"]
	path = blog/themes/jsimple
	url = https://github.com/hejianxian/hexo-theme-jane.git
[submodule "blog/themes/nayo"]
	path = blog/themes/nayo
	url = https://github.com/Lemonreds/hexo-theme-Nayo
[submodule "blog/themes/junle-nayo"]
	path = blog/themes/junle-nayo
	url = https://github.com/junleqian/hexo-theme-nayo.git
